.App {
  text-align: center;
  background-color: #F4F2EE;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-bar{
  display: flex;
  border-bottom: 1px solid #fff;
  padding: 10px 0 0 0;
  background-color: #fff;
}
/* modify the style of : logo */
.nav-bar img {
  margin-left: 10%;
  margin-right: 8px;
}
/* modify the style of : search bar */
.d-flex{
  height: 34px;
  width: 280px;
  margin-top: 2px;
  margin-right: 40px;
}

/* modify the syle of : home */
.home{
  height: 52px;
  width: 82px;
}

.home p{
font-weight: 200;
font-size: 12px;
}

/* modify the style of : profile  */
.profile{
  padding: 0 24px 0 24px ;
  border-right: 1px solid #cecece;
}
.main-container{
  margin: 20px 10% 0 10%;
}
.profile-item{
  display: flex;
  justify-content: space-between;
}
.profile-item p{
  margin: 0;
  color:rgb(103, 100, 100) ;
  font-size: 12px;
  font-weight: 600;
}
span{
  font-size: 12px;
  font-weight: 600;
}
.profile-info-icon{
  display: flex;
  align-items: center;
}
/* modify the style of : Groups  */
.group-item div {
  color:rgb(103, 100, 100) ;
  }
.group-item div span{
margin-left: 10px ;
}
.group-title{
  text-align:start;
  font-weight: 400;
}
/* modify the style of : make post card  */
.make-post{
  display: flex;
}
.make-post div{
  background-color: #EBEBEB;
  width: 100%;
  text-align: start;
  margin-left: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.make-post div span{
  margin-left: 20px;
  font-size: 14px;
  color: rgb(103, 100, 100);
}
.other-option-post{
  display: flex;
  justify-content: space-around;
}
.other-option-post div{
  padding: 8px;
  margin-top: 8px;
  border-radius: 5px;
}
.other-option-post div:hover{
  background-color: #EBEBEB;
  cursor: pointer;
}
.other-option-post span {
  margin-left: 10px;
  font-size: 14px;
}
/* modify the style of : posts */
.profile-header{
  display: flex;

}
.profile-header div{
  margin-left: 10px;
  text-align: start;
}
.profile-header div p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.content-post p{
  text-align: start;
  font-weight: 400;
  font-size: 14px;
}
#image-post{
  width: 550px;
}

/* modifier le bouton suivre  */
.follow-button{
  height: 32px;
  width: 95px;
  border-radius: 50px;
  border: #282c34 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.follow-button:hover{
 background-color: #EBEBEB;
 cursor: pointer;
}

.suggestions {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
}
.suggestions p{
  margin: 0;
  margin-right: 10px;
  color: #282c34;
}
.upgrade-header{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.try-button{
  height: 32px;
  width: 120px;
  border-radius: 50px;
  border: #0A66C2 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  text-align: center;
  margin-left: 25%;
}
.try-button p{
  margin: 0;
  color: #0A66C2;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
